format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$docker_context\
$cmd_duration\
$fill\
$kubernetes\
$username\
$hostname\
$time\
$line_break\
$jobs\
$battery\
$status\
$os\
$container\
$netns\
$shell\
$character"""

[directory]
format = '[╭─](dimmed red) [$path]($style)[$read_only]($read_only_style) '

[fill]
symbol = "─"
style = "dimmed red"

[username]
format = "[–](dimmed red) [$user]($style)"
style_user = "bold dimmed yellow"
style_root = "bold red"

[hostname]
ssh_symbol = '@'
format = '$ssh_symbol[$hostname]($style)'
style = "bold dimmed yellow"

[kubernetes]
disabled = false
format = '[$symbol$context( \($namespace\))]($style) '
style = "dimmed green"
symbol = " 🎮 "

[[kubernetes.contexts]]
context_pattern = "(.*)/api-(.*):6443/(.*)"
context_alias = "$2"

[time]
disabled = false
style = "bold dimmed cyan"
format = ' at [$time]($style) [─](dimmed red)'